#header-principal {
    padding: 10px 20px;
    background-color: #F8F9FA;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 60px;
    height: 40px;
    margin-right: 10px;
}