:root {
  --font-h1: 24px 'Roboto Medium', sans-serif;
  --font-h2: 16px 'Roboto Medium', sans-serif;
  --font-h3: 16px 'Roboto Regular', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.user-table {
  width: 80%;
  margin: 20px auto;
}

.user-table h1 {
  font: var(--font-h1);
  margin-bottom: 20px;
  text-align: left;
  color: #333;
}

.user-table table {
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.user-table th, .user-table td {
  padding: 20px;
  text-align: center;
}

.user-table thead tr{
  align-items: center;
  background: linear-gradient(90deg, #5A84C0, #594ED2);
  color: white;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.user-table tbody tr:hover {
  background-color: #f1f1f1;
}

.user-table th {
  font: var(--font-h2);
  color: white;
  text-transform: uppercase;
}

.search-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-div-container {
  display: flex;
  align-items: center;
  justify-items:center;
  padding: 10px;
  border: 1px solid #DFDFDF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #9E9E9E;
  font-size: 18px;
  padding: 8px 8px 0 0;
}

.search-div-container input {
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9E9E9E;
}

.expand-btn, .expanded, #circle-icon {
  display: none;
}

.employee-row {
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

@media (max-width: 700px) {
  .expand-btn {
    display: inline-block;
  }

  table th:nth-child(3),
  table th:nth-child(5),
  table th:nth-child(4),
  table td:nth-child(3),
  table td:nth-child(5),
  table td:nth-child(4) {
    display: none;
  }
  
  .employee-row, .user-table thead tr {
    display: flex;
    justify-content: space-around;
  }

  .expanded, #circle-icon {
    display: inline;
  }

  #circle-icon {
    font-size: 12px;
  }
  
}

@media (max-width: 550px) {
  .user-table h1 {
    display: none;
  }

  .search-div {
    display: block;
    align-self: center;
  }

  .search-div-container {
    justify-content: space-between;
  }
}